
body {
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Noto Sans', sans-serif;
    height: 100%;
}

.myheader {
    padding: 15px;
    text-align: left;
    background-color: orange;
    color: black;
    font-size: 30px;
    border-radius: 5px 5px;
}

.myphoto {
    width: 200px;
    height: auto;
}

hr {
    display: black;
    border-width: 1px;
}

.myfooter {
    padding: 15px;
    text-align: center;
    background-color: lightgoldenrodyellow;
    color: black;
    font-size: 12px;
    border-radius: 5px 5px;
}