
h1 {
    font-size: 2rem;
    text-align: center;
}

h2 {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    border-bottom: 1px solid black;
    text-align: center;
}

h3 {
    font-size: .5rem;
    text-align: center;
}

p {
    text-align: left;
}

body {
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Noto Sans', sans-serif;
    height: 100%;
    margin: 15px;
}

.myheader {
    background-color: orange;
    color: black;
    font-size: 30px;
}

#homebutton {
    font-size: 1rem;
}

.designexamples {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 20px;
    margin: 2.5% 2.5% 2.5% 2.5%;
}

.leftsect, .middlesect, .rightsect {
    background-color: grey;
    border-radius: 5px;
}

.scrnshts {
    width: 95%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.myfooter {
    text-align: center;
    background-color: lightgoldenrodyellow;
    color: black;
    font-size: 12px;
}

.myheader, .myfooter {
    padding: 0.75rem;
    border-radius: 5px 5px;
}