
h1 {
    font-size: 32px;
    margin: 0.15rem;
    text-align: center;
}

h2 {
    font-size: 16px;
    margin-bottom: 0.5rem;
}

.myparagraph {
    text-indent: 50px;
}

body {
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 10px;
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Noto Sans', sans-serif;
}

header {
    background-color: orange;
    color: black;
    font-size: 30px;
    border-radius: 5px 5px 0 0;
}

.myicon {
    width: 130px;
}

nav {
    margin: 0 auto;
    background-color: #fcc765;
}

.navigation {
    list-style: none;
    padding: 0;
}

.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
}

.navigation .nava {
    display: block;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 17px;
}

.navigation .nava:hover {
    color: black;
    background-color: orange;
}

.responsive li {
    display: block;
}

.mycontent {
    max-width: 950px;
    min-height: 100px;
    text-align: left;
    margin: 0 auto;
}

footer {
    border-radius: 0 0 5px 5px;
    color: #000000;
}

.byu {
    color: blue;
}

.navback:hover, .byu:hover {
    color: lightblue;
}

footer .byu {
    background-color: #fafad2;
    font-size: 12px;
}

header nav footer{
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}

header footer {
    padding: 12px;
}

.navback {
    color: blue;
    font-size: 12px;
    display: block;
    text-align: left;
}