body {
    margin: 0 auto;
    width: 1000px;
    text-align: center;
    background-color: lightgoldenrodyellow;
}

img {
    border: 2px solid black;
    margin-bottom: 50px;
}

footer {
    margin-bottom: 50px;
}