body {
    font-family: 'Ubuntu', sans-serif;
    padding-top: 50px;
}

body table {
    margin: 0 auto;
}

table {
    box-shadow: 2px 2px 5px #628ca6;
}

thead {
    font-size: 35px;
}

thead th, tfoot th{
    background-color: #7fb9c2 ;
}

tbody {
    font-size: 20px;
}

tbody th {
    background-color: #628ca6 ;
    color: white;
}

th, td {
    padding: 10px 15px 10px 15px;
    text-align: center;
}

table, caption, th, td {
    border-collapse: collapse;
    border: 2px solid lightgrey;
}

tr:nth-child(even) {
    background-color: #e7f0ed;
}

tr:nth-child(odd) {
    background-color: #e7ffed;    
}

tbody :nth-child(5) :nth-child(3) {
    background-color: #628ca6;
    color: white;
}

tbody :nth-child(6) :nth-child(1) {
    font-style: italic;
}

tfoot {
    font-size: 15px;
}

footer {
    margin-top: 20px;
}
