body {
    font-family: 'Ubuntu', sans-serif;
}

body table {
    margin: 0 auto;
}

table {
    box-shadow: 2px 2px 5px black;
}

thead {
    font-size: 35px;
}

thead, tfoot{
    background-color: #7fb9c2 ;
}

tbody {
    font-size: 20px;
}

tbody th {
    background-color: #628ca6 ;
    color: white;
}

th, td {
    padding: 10px 15px 10px 15px;
    text-align: center;
}

table, caption, th, td {
    border-collapse: collapse;
    border: 2px solid lightgrey;
}

.oddrow {
    background-color: #e7f0ed;
}

.evnrow {
    background-color: #e7ffed;    
}

.novgoal {
    background-color: #628ca6;
    color: white;
}

tfoot {
    font-size: 15px;
}

footer {
    margin-top: 20px;
}
