@media only screen and (min-width: 1000px) {

    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 24px;
    }

    .myicon {
        width: 130px;
        margin-right: 15px;
    }

    .announce {
        display: none;
        position: absolute;
        top: 12px;
        right: 12px;
        max-height: 130px;
        max-width: 130px;
        background: #fafad2;
        border: 1px solid #000;
        box-shadow: 0 0 10px #111;
        opacity: 0.8;
    }

    .anntext {
        display: block;
        font-size: 12px;
    }

    .summary {
        max-width: 300px;
    }

    .summary h2 {
        font-size: 24px;
    }
    
    .sumtable {
        font-size: 17px;
    }

}