@media only screen and (min-width: 1000px) {

    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 20px;
    }

    p {
        font-size: 16px;
    }

    .company {
        margin-right: 20px;
        margin-bottom: 0px;
    }

    header {
        display: flex;
    }

    .logo {
        max-height: 48px;
    }

    nav {
        max-width: 750px;
    }

    .call_to_act div {
        display: flex;
    }

    .call_to_act div :first-child {
        margin-right: 15px;
    }

    .call_to_act h1, .call_to_rent h1 {
        font-size: 40px;
    }

    .vcle {
        display: flex;
        align-items: center;
    }

    .vinfo {
        margin-bottom: 0px;
    }

    .vinfo, .vimg {
        width: 50%;
    }

    .weather {
        display: flex;
    }

    .cs_info {
        display: flex;
        align-items: center;
    }

    .cinfo {
        margin: 0 auto;
    }

    .smedia {
        margin: 0;
        align-items: center;
        margin: 0 auto;
    }

    .rent_cards {
        grid-template-columns: repeat(auto-fit, minmax(536px, 1fr));
    }

    .res_main {
        padding: 0;
    }

    .lcar, .rcar {
        display: inline;
    }

    /*   ↓ SPECIFIC TO TOURS PAGE ↓   */

    .tours {
        grid-template-columns: 1fr 1fr;
    }

    .tour_div {
        margin: 50px;
    }

    /*   ↑ SPECIFIC TO TOURS PAGE ↑   */


    /*   ↓ SPECIFIC TO CONTACT PAGE ↓   */

    .lctns {
    display: flex;
    width: auto;
    }

    .lctns_info {
        width: 50%;
    }
    
    iframe {
        margin: 0;
        width: 50%;
        height: auto;
    }

/*   ↑ SPECIFIC TO CONTACT PAGE ↑   */

}