@media only screen and (min-width: 1000px) {

    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 20px;
    }

    p {
        font-size: 16px;
    }

    .company {
        margin-right: 20px;
        margin-bottom: 0px;
    }

    header {
        display: flex;
    }

    .logo {
        max-height: 48px;
    }

    nav {
        max-width: 750px;
    }

    .smedia {
        margin: 0;
        display: flex;
        width: 555px;
        align-items: center;
        margin-left: auto;
    }
    
    .smedia h2 {
        margin: 0px;
    }

    .smedia_links {
        margin-left: 15px;
    }

}