@media only screen and (min-width: 1000px) {

    h1 {
        font-size: 40px;
    }

    h2 {
        font-size: 24px;
    }

    p {
        font-size: 16px;
    }

    header {
        display: flex;
    }

    .logo {
        max-height: 48px;
    }

    nav {
        max-width: 750px;
    }

}