@media only screen and (min-width: 500px) {

    h1 {
        font-size: 32px;
    }
    
    h2 {
        font-size: 20px;
    }

    h3 {
        font-size: 16px;
    }

    p {
        font-size: 15px;
    }

    .logo {
        max-height: 38px;
    }

    nav {
        width: 100%;
        position: static;
    }

    .navigation {
        display: flex;
    }

    .navigation li {
        display: block;
        flex: 1 1 auto;
    }

    .navigation li:nth-child(n + 2) {
        padding: 0px;
        border: none;
    }

    .navigation a {
        text-align: center;
    }

    .navigation li:first-child {
        display: none;
    }

    .hero_sect {
        position: relative;
    }

    .call_to_act {
        position: absolute;
        margin: 0px;
        padding: 10px;
        top: 5%;
        left: 1%;
        color: white;
        background-color: rgba(237, 28, 36, 0.7);
        box-shadow: 5px 5px rgba(0, 0, 0, 0.5);
        text-align: left;
    }

    .call_to_act div {
        display: block;
        margin: 0;
    }

    .call_to_act div:first-child {
        width: auto;
    }
    
    .call_to_act div:last-child {
        width: auto;
    }

    .call_to_act h1, .call_to_rent h1 {
        font-size: 26px;
    }

    .call_to_rent {
        margin-top: 10px;
    }

    .rent_sum {
        width: 80%;
        margin: 0 auto;
    }

    .vcle {
        box-shadow: 5px 5px rgba(0, 0, 0, 0.25);
    }

    .smedia_links {
        width: 255px;
    }
    
    .smedia_links a img {
        width: 75px;
        height: 75px;
    }

    .rent_cards h1 {
        font-size: 28px;
    }

}