

h1 {
    font-size: 24px;
    font-family: 'Black Ops One', cursive;
    margin: 0px;
    padding: 0px;
}

h2 {
    font-size: 16px;
    margin: 0px;
    padding: 0px;
}

h3 {
    font-size: 14px;
}

p {
    font-size: 14px;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Play', sans-serif;
}

header {
    align-items: center;
    /*margin-bottom: 15px;*/
    padding: 5px 10px 5px 10px;
}

.company_link {
    text-decoration: none;
    color: black;
}

.company {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.logo {
    max-height: 29px;
    margin-right: 5px;
}

nav {
    margin: 0 auto;
    position: absolute;
    top: 4px;
    left: 0px;
}

.navigation {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navigation li:first-child {
    display: block;
    font-size: 30px;
}

.navigation li:nth-child(n + 2) {
    background: white;
    padding: 5px 30px 5px 15px;
    border-right: 1px solid black;
}

.navigation li:nth-child(2) {
    border-top: 1px solid black;
    padding-top: 10px;
}

.navigation li:last-child {
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}

.navigation li {
    display: none;
}

.navigation a {
    display: block;
    padding: 5px;
    text-align: left;
    text-decoration: none;
    color: black;
}

.navigation a:hover {
    font-weight: bold;
}

.responsive li {
    display: block;
}

.navigation .currentpage {
    font-weight: bold;
    background-color: #ed1c24;
    /*background: -webkit-linear-gradient(110deg, #026f4b 33%, rgba(0, 0, 0, 0) 33%), -webkit-linear-gradient(110deg, white 66%, #ed1c24 66%);
    background: -o-linear-gradient(110deg, #026f4b 33%, rgba(0, 0, 0, 0) 33%), -o-linear-gradient(110deg, white 66%, #ed1c24 66%);
    background: -moz-linear-gradient(110deg, #026f4b 33%, rgba(0, 0, 0, 0) 33%), -moz-linear-gradient(110deg, white 66%, #ed1c24 66%);
    background: linear-gradient(110deg, #026f4b 33%, rgba(0, 0, 0, 0) 33%), linear-gradient(110deg, white 66%, #ed1c24 66%);*/
    border-radius: 15px 15px;
    color: white;
}


/*   ↓ SPECIFIC TO INDEX PAGE ↓   */

.hero img {
    max-width: 100%;
}

.call_to_act {
    color: #ed1c24;
    margin: 5px 0px 15px 0px;
}

.call_to_act div {
    display: flex;
    margin: 0 auto;
}

.call_to_act div:first-child {
    width: 299px;
}

.call_to_act div:last-child {
    width: 247px;
}

.call_to_act div :first-child {
    margin-right: 5px;
}

.call_to_act h1 {
    font-size: 20px;
}

.call_to_rent {
    text-align: center;
    margin-bottom: 10px;
}

.call_to_rent h1 {
    font-size: 17px;
}

.call_to_rent a{
    text-decoration: none;
    color: blue;
}

main {
    max-width: 1300px;
    margin: 0 auto;
    padding: 1%;
}

.rent_sum {
    text-align: center;
    width: 98%;
    margin: 0 auto;
}

.rent_sum h2 {
    margin-bottom: 5px;
    text-decoration: underline;
}

.vcle {
    margin-top: 20px;
    border: 2px solid black;
    border-radius: 5px 5px;
    padding: 5px;
}

.vinfo {
    margin-bottom: 5px;
}

.rent_sum p {
    margin-bottom: 15px;
}

.vimg {
    margin: 0 auto;
}

.vimg img {
    width: 100%;
}

.loc_title {
    margin-top: 100px;
    margin-bottom: 50px;
    text-align: center;
    text-decoration: underline;
}

.weather {
    margin-bottom: 100px;
}

.cur_weather {
    max-width: 250px;
    margin: 0 auto;
    padding-top: 20px;
}

.cur_weather h2 {
    text-align: center;
    text-decoration: underline;
    margin-bottom: 5px;
}

.cur_wthr_tbl {
    margin: 0 auto;
}

.fcol {
    text-align: right;
}

#curDesc {
    text-transform: capitalize;
}

.cs_info h2 {
    text-decoration: underline;
    margin-bottom: 5px;
}

.cinfo {
    text-align: center;
    padding-top: 20px;
}

.cinfo .loc {
    font-weight: bold;
}

.smedia {
    padding: 20px 0px 15px 0px;
}

.smedia h2 {
    text-align: center;
    margin-bottom: 15px;
}

.smedia_links {
    display: flex;
    width: 210px;
    margin: 0 auto;
}

.smedia_links :nth-child(n + 2) {
    margin-left: 15px;
}

.smedia_links a img {
    border-radius: 25% 25%;
    width: 60px;
    height: 60px;
}

/*   ↑ SPECIFIC TO INDEX PAGE ↑   */


/*
   ↓ SPECIFIC TO RENTAL PAGE ↓
*/

.rent_title {
    text-align: center;
    margin: 25px 0px 25px 0px;
}

.rent_cards {
    display: grid;
}

.rent_cards .cards {
    padding: 15px;
    margin: 5px;
    border: 2px solid black;
    border-radius: 5px;
    justify-content: center;
    text-align: center;
}

.rent_cards h1 {
    margin-bottom: 15px;
    font-size: 20px;
    text-decoration: underline;
}

.rent_cards p {
    margin-bottom: 10px;
}

.rent_img {
    margin: 0 auto;
    max-width: 500px;
}

.rent_img img {
    margin-top: 15px;
    /*border-radius: 5px;
    box-shadow: 0 0 10px #111;*/
    width: 100%;
}

/*   ↑ SPECIFIC TO RENTAL PAGE ↑   */



/*   ↓ SPECIFIC TO RESERVATION PAGE ↓   */

.res_main {
    max-width: 100%;
    padding: 5px;
}

.lcar, .rcar {
    position: absolute;
    top: 100px;
    max-height: 800px;
    display: none;
}

.lcar {
    left: 0;
}

.rcar {
    right: 0;
}

.rent_input {
    border: 2px solid black;
    border-radius: 5px;
    max-width: 500px;
    padding: 25px;
    margin: 0 auto;
    display: flex;
    background: rgb(186, 212, 203);
    position: relative;
}

form {
    text-align: center;
    margin: 0 auto;
    width: 90%;
}

form h2 {
    margin-bottom: 25px;
}

form div {
    display: grid;
    margin-bottom: 25px;
}

form div :nth-child(2) {
    text-align: center;
}

#comments {
    text-align: left;
    min-height: 100px;
}

form div label {
    font-weight: bold;
    margin-bottom: 5px;
}

/*   ↑ SPECIFIC TO RESERVATION PAGE ↑   */


/*   ↓ SPECIFIC TO TOURS PAGE ↓   */

.tour_head {
    text-align: center;
    margin-bottom: 25px;
}

.tours {
    display: grid;
    justify-items: center;
    grid-template-columns: 1fr;
}

.tour_div {
    margin: 20px;
    text-align: center;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.25);
    border: 2px solid black;
    border-radius: 5px 5px;
    max-width: 500px;
}

.tour_div .tour_imgs[data-src] {
    filter: blur(5px);
    border-radius: 5px 5px 0px 0px;
}

.tour_div .tour_imgs {
    filter: blur(0px);
    transition: filter 0.5s;
    border-radius: 5px 5px 0px 0px;
}

.tour_imgs {
    width: 100%;
}

.tour_div h2, .tour_div p {
    margin: 5px;
}

/*   ↑ SPECIFIC TO TOURS PAGE ↑   */

/*   ↓ SPECIFIC TO CONTACT PAGE ↓   */

.contact_header {
    text-align: center;
    margin-bottom: 50px;
}

.lctns {
    display: block;
    justify-content: center;
    margin-bottom: 50px;
    border-radius: 5px 5px;
    border: 2px solid black;
    padding: 5px;
}

.lctns_info {
    text-align: center;
    padding-right: 15px;
}

.lctns_info h2 {
    margin-bottom: 5px;
}

.lctns_info form {
    margin-top: 15px;
    display: grid;
    justify-items: center;
}

.lctns_info form :nth-child(2) {
    text-align: center;
}

.lctns_info form :nth-child(3) {
    margin-top: 15px;
}

.lctns_info form :nth-child(4) {
    width: 90%;
    min-height: 200px;
}

.lctns_info form :last-child {
    margin-top: 15px;
}

iframe {
    margin-top: 15px;
    border: 1px solid rgb(163, 162, 162);
    border-radius: 5px 5px;
    width: 100%;
    height: 300px;
}

/*   ↑ SPECIFIC TO CONTACT PAGE ↑   */

footer {
    margin-top: 15px;
    background-color: #026f4b;
    color: white;
}

.footer_info {
    padding: 30px 0px 30px 0px;
    text-align: center;
}


