

h1 {
    font-size: 24px;
    font-family: 'Black Ops One', cursive;
    margin: 0px;
    padding: 0px;
}

h2 {
    font-size: 16px;
    margin: 0px;
    padding: 0px;
}

p {
    font-size: 14px;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Play', sans-serif;
}

header {
    background-color: rgb(88, 88, 88);
    color: white;
    align-items: center;
    /*justify-content: center;*/
    margin-bottom: 15px;
    display: flex;
}

.logo {
    max-height: 48px;
    background-color: lightgray;
    border: 1px solid black;
    margin-right: 5px;
}

nav {
    margin: 0 auto;
}

.navigation {
    display: flex;
    list-style: none;
}

.navigation a {
    text-decoration: none;
    color: white;
}

main {
    min-height: 1000px;
    max-width: 1300px;
    background-color: red;
    margin: 0 auto;
}

footer {
    margin-top: 15px;
    min-height: 100px;
    background-color: gold;
}