

h1 {
    font-size: 24px;
    font-family: 'Black Ops One', cursive;
    margin: 0px;
    padding: 0px;
}

h2 {
    font-size: 16px;
    margin: 0px;
    padding: 0px;
}

p {
    font-size: 14px;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Play', sans-serif;
}

header {
    align-items: center;
    margin-bottom: 15px;
    padding: 15px;
}

.company_link {
    text-decoration: none;
    color: black;
}

.company {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.logo {
    max-height: 29px;
    margin-right: 5px;
}

nav {
    margin: 0 auto;
}

.navigation {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
}

.navigation a {
    display: block;
    padding: 5px;
    text-align: center;
    text-decoration: none;
    color: black;
}

.navigation a:hover {
    font-weight: bold;
}

.responsive li {
    display: block;
}

.navigation .currentpage {
    text-decoration: underline;
    font-weight: bold;
}

main {
    min-height: 1000px;
    max-width: 1300px;
    margin: 0 auto;
    border: 5px solid red;
}

footer {
    margin-top: 15px;
    min-height: 100px;
    background-color: rgb(2, 111, 75);
    color: white;
}