
h1 {
    font-size: 2rem;
    margin: 0.15rem;
    text-align: center;
}

h2 {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

body {
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Noto Sans', sans-serif;
    height: 100%;
    margin: 15px;
}

header {
    text-align: center;
    background-color: orange;
    color: black;
    font-size: 30px;
    border-radius: 5px 5px 0 0;
}

.myphoto {
    width: 200px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.myassignments {
    text-align: left;
}

footer {
    text-align: center;
    background-color: lightgoldenrodyellow;
    color: black;
    font-size: 12px;
    border-radius: 0 0 5px 5px;
}

header, footer{
    padding: 0.75rem;
}