
h1 {
    font-size: 2rem;
    margin: 0.15rem;
    text-align: center;
}

h2 {
    font-size: 1rem;
    margin-bottom: 0.5rem;
}

body {
    max-width: 1000px;
    margin: 0 auto;
    padding-top: 10px;
    font-size: 16px;
    line-height: 1.5;
    font-family: 'Noto Sans', sans-serif;
}

header {
    background-color: orange;
    color: black;
    font-size: 30px;
    border-radius: 5px 5px 0 0;
}

nav {
    background-color: rgb(252, 199, 101);
}

nav, ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav, ul, li {
    flex: 1 1 100%;
}

nav, ul, li, a {
    display: black;
    color: white;
    text-decoration: none;
    font-size: 17px;
}

.myphoto {
    width: 200px;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.mycontent {
    max-width: 950px;
    text-align: left;
    margin: 0 auto;
}

footer, .byu {
    background-color: lightgoldenrodyellow;
    color: black;
    font-size: 12px;
    border-radius: 0 0 5px 5px;
}

.byu {
    color: blue;
}

.byu:hover {
    color: lightblue;
}

header, nav, footer{
    padding: 0.75rem;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}